@using Data.Pokemon

@using Data.Audio
@inject AudioService AudioService

<div class="background" @onclick="@OnCloseDialog"></div>

<main>
    <div class="details">
        <div class="img-container">
            <img src="@("PokemonSprites/"+Pokemon.Id+".png")">
            <span>No. @Pokemon.Id</span>
        </div>
        <div class="info-container">
            <h3>@Pokemon.Name</h3>
            <span>@Pokemon.Type1</span>
            <span>@Pokemon.Type2</span>
        </div>
    </div>
    <div class="text-container">
        <span>@Pokemon.Description</span>
    </div>
</main>


@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    [Parameter]
    public Pokemon? Pokemon { get; set; }

    [Parameter]
    public EventCallback<bool> CloseDialog { get; set; }

    protected override async void OnAfterRender(bool firstRender)
    {
        double Volume = AudioService.GetVolume();
        if (Volume > 0.0)
        {
            await JSRuntime.InvokeVoidAsync("playSound", "PokemonCries/" + Pokemon.Id + ".wav", Volume);
        }
    }

    private Task OnCloseDialog(Object test)
    {
        return CloseDialog.InvokeAsync(true);
    }

}
